    .recipeCreateAssistant__container {
        display: grid;
        grid-template-columns: 2fr 5fr;
        grid-template-rows: auto auto auto;
        grid-template-areas:
            "title title"
            "handle edit"
            "error error"
            "content content";
        margin-top: 50px;
        margin-bottom: 20px;
    }

    .recipeCreateAssistant__container .recipeCreateAssistant__mainTitle {
        grid-area: title;
    }

    .recipeCreateAssistant__container .recipeCreateAssistant__handleButtons {
        grid-area: handle;
        justify-self: start;
    }

    .recipeCreateAssistant__container .recipeCreateAssistant__editButtons {
        grid-area: edit;
        justify-self: end;
    }

    .recipeCreateAssistant__container .recipeCreateAssistant__errorField {
        grid-area: error;
    }

    .recipeCreateAssistant__container .recipeCreateAssistant__editContent {
        grid-area: content;
    }