.recipeForm__container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas:
                "mainTitle"
                "nameField"
                "errorField"
                "save";
    grid-row-gap: 10px;
}

.recipeForm__mainTitle {
    grid-area: mainTitle;
    font-size: 18px;
    font-weight: bold;
}

.recipeForm__container .recipeForm__id {
    grid-area: id;
}

.recipeForm__container .recipeForm__nameTitle {
    grid-area: nameTitle;
}

.recipeForm__container .recipeForm__nameField {
    grid-area: nameField;
}

.recipeForm__container .recipeForm__errorField {
    grid-area: errorField;
}

.recipeForm__container .recipeForm__saveButton {
    grid-area: save;
}