@media (min-width: 650px) {
    .userManagement__container {
        display: grid;
        grid-template-columns: 1fr 600px 1fr;
        grid-template-areas: ". content .";
    }

    .userManagement__container .userManagement__content {
        grid-area: content;
    }
}