@media (min-width: 900px) {
    .weeklyScheduleView__container {
        display: grid;
        grid-template-columns: 350px 1fr 180px;
        grid-template-rows: auto auto;
        grid-template-areas:
            "header arrowButtons datePicker"
            "error error error"
            "list list list";
        margin-top: 30px;
        margin-bottom: 30px;
    }
}

@media (max-width: 900px) {
    .weeklyScheduleView__container {
        display: grid;
        grid-template-columns: 100px 1fr;
        grid-template-rows: auto auto auto;
        grid-template-areas:
            "header header"
            "arrowButtons datePicker"
            "error error"
            "list list";
        margin-top: 25px;
        margin-bottom: 25px;
    }

    .weeklyScheduleView__container .weeklyScheduleView__header {
        margin-bottom: 15px;
    }
}

.weeklyScheduleView__container .weeklyScheduleView__header {
    grid-area: header;
    align-self: center;
}

.weeklyScheduleView__container .weeklyScheduleView__buttonArrow {
    grid-area: arrowButtons;
    justify-self: start;
}

.weeklyScheduleView__container .weeklyScheduleView__datePicker {
    grid-area: datePicker;
    justify-self: end;
}

.weeklyScheduleView__container .weeklyScheduleView__dailyScheduleListContainer {
    grid-area: list;
}

.weeklyScheduleView__container .recipeCreateAssistant__errorField {
    grid-area: error;
}