.dailyScheduleItem__container {
    display: grid;
    grid-template-columns: 5fr 1fr;
    grid-template-rows: auto auto;
    grid-template-areas:
        "header header"
        "list list";
    margin-bottom: 1em;
}

.dailyScheduleItem__container .dailyScheduleItem__title {
    flex: auto;
    align-self: center;
    padding-left: 18px;
}

.dailyScheduleItem__container .scheduledRecipeList__container {
    grid-area: list;
}

.dailyScheduleItem__container .dailyScheduleItem__header {
    grid-area: header;
    display: flex;
}