.scheduledRecipeCreate__container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto auto auto auto auto auto;
    grid-template-areas:
        "header header"
        "selectedRecipe selectedRecipe"
        "buttons buttons"
        "listTitle listTitle"
        "progress progress"
        "list list"
        "message message";
    margin-top: 30px;
    margin-bottom: 30px;
}

.scheduledRecipeCreate__container .scheduledRecipeCreate__header {
    grid-area: header;
}

.scheduledRecipeCreate__container .scheduledRecipeCreate__buttons {
    grid-area: buttons;
    justify-self: end;
}

.scheduledRecipeCreate__container .scheduledRecipeCreate__listTitle {
    grid-area: listTitle;
}

.scheduledRecipeCreate__container .recipeListContentSelector__progress {
    grid-area: progress;
}

.scheduledRecipeCreate__container .recipeListContentSelector__container {
    grid-area: list;
}

.scheduledRecipeCreate__container .recipeListContentSelector__message {
    grid-area: message;
}